.formContainer {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 8rem;
  width: 50rem;
  background: rgb(231, 231, 231);
  border-radius: 3px;
  padding: 2rem;
  .summary {
    margin-top: 2rem;
    background: rgb(250, 245, 183);
    border: 2px solid rgb(114, 114, 114);
    padding: 1rem;
    .container {
      h3 {
        margin: 1rem 0;
        color: $color-secondary;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      margin-top: 3rem;
      text-align: center;
    }

    .btn,
    .field {
      display: block;
      margin: 2rem 0;

      &:focus {
        outline: none;
      }
    }

    .field {
      border: none;
      background: none;
      padding: 0.5rem 1rem;
      color: $color-secondary;
      border: 2px solid $color-secondary;
      border-radius: 3px;
      font-size: 2rem;
      font-family: "PT Sans", sans-serif;
      text-align: center;
      font-weight: 700;
      letter-spacing: 3px;
      margin-top: 5rem;
    }

    .btn {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      background: $color-secondary;
      color: #fff;
      width: 10rem;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 0.5rem 2rem;
      border: none;
      text-align: center;

      &:hover {
        background: #fff;
        color: $color-secondary;
      }
    }
  }
}
