.dashboard__container {
  width: 100%;

  .rideStatus {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 30rem;
    border-radius: 4px;
    background: #fcf5baad;
    font-size: 1.5rem;
    overflow: hidden;

    .status__heading {
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      padding-top: 1.5rem;
      background: $color-red;
    }

    .status__content {
      margin-top: 1.5rem;
      padding: 1rem;

      .name {
        text-align: center;
        font-weight: 500;
        color: $color-red;
      }

      .field {
        margin: 1.5rem 0;

        &__heading {
          color: rgb(105, 105, 105);
          font-weight: 700;
          font-size: 1.2rem;
        }

        &__content {
          color: black;
          margin-left: 0.5rem;
        }
      }
    }
  }

  .sidebar {
    width: 20rem;
    background: $color-secondary;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
      color: #fff;
      height: 30%;
      font-weight: 500;

      .heading {
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #fff;
      }

      .pic {
        width: 8rem;
        height: 8rem;
        background: #fff;
        border-radius: 100%;
        margin-top: 4rem;
      }

      .name {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        font-weight: 200;
      }
    }

    hr {
      border: 0.5px solid rgb(119, 119, 119);
    }

    .nav {
      margin-top: 25rem;

      .link {
        width: 100%;
        padding: 1.5rem 0.5rem;
        position: relative;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.2s cubic-bezier(0.98, 0.07, 0.83, 0.67);

        &:hover::before {
          width: 100%;
        }

        &:hover .ln {
          color: $color-secondary;
          letter-spacing: 3px;
        }

        &::before {
          content: "";
          transition: all 0.3s cubic-bezier(0.98, 0.07, 0.83, 0.67);
          width: 1rem;
          height: 100%;
          position: absolute;
          background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
          z-index: -1;
          left: 0;
        }

        .ln {
          color: #fff;
          font-size: 1.5rem;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: $tran-smooth;
        }
      }

      .logout {
        display: flex;
        height: 4rem;
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
        font-size: 2rem;
        color: rgb(146, 144, 144);
        transition: $tran-smooth;
        align-items: center;

        .img {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
          margin-top: 0.5rem;
          transform: rotate(180deg);

          svg {
            fill: rgb(187, 187, 187);
          }
        }

        &:hover {
          cursor: pointer;
          color: rgb(187, 187, 187);
        }
      }
    }
  }

  .content {
    margin-left: 20rem;
    position: relative;
    overflow: hidden;
    padding-left: 1.5rem;
    margin-top: 5rem;

    .background {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
      }

      .globe {
        right: -2rem;
        width: 50%;
        top: 10rem;
      }

      .triangle1 {
        left: 0%;
        top: 25%;
        width: 10rem;
        transform: rotate(25deg);
      }

      .triangle2 {
        right: 3rem;
        top: 45%;
        width: 15rem;
        transform: rotate(5deg);
      }
    }

    .heading {
      margin-top: 3rem;
      font-size: 2.5rem;
    }

    .otpBtn {
      background: $color-secondary;
      font-size: 2rem;
      display: flex;
      height: 5rem;
      width: 25rem;
      margin-top: 3rem;
      align-items: center;
      transition: $tran-smooth;

      &:hover {
        cursor: pointer;
      }

      &:hover .icon {
        margin-left: 3rem;
      }

      .text {
        color: #fff;
        margin-left: 1.5rem;
      }

      .icon {
        width: 3rem;
        height: 3rem;
        transition: $tran-smooth;

        img {
          width: 3rem;
          height: 3rem;
          fill: $color-primary;

          margin-left: 3rem;
        }
      }
    }

    .available {
      margin-top: 5rem;
      width: 50%;

      .heading {
        font-size: 2rem;
      }

      .search {
        margin-top: 3rem;
        border: none;
        border-bottom: 1.5px solid $color-red;
        display: flex;
        width: 40rem;
        justify-content: space-between;

        input {
          border: none;
          background: none;
          color: $color-red;
          padding: 0.3rem 0.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 2rem;
          flex: 1;

          &:focus {
            outline: none;
          }
        }

        .icon {
          width: 3rem;
          height: 3rem;

          img {
            width: 100%;
          }
        }
      }

      .cycles {
        width: 100%;
        margin-top: 2rem;
        background: rgba(255, 221, 50, 0.555);
        height: 40rem;
        overflow-y: scroll;
        padding: 1rem;

        .cycle {
          border-top-left-radius: 300px;
          border-bottom-left-radius: 300px;
          display: flex;
          width: 90%;
          height: 10rem;
          background: $color-primary;
          overflow: hidden;
          margin: 1.5rem 0;

          .img {
            width: 10rem;
            height: 10rem;
            background: $color-primary-dark;
            border-radius: 100%;
            overflow: hidden;
            position: relative;

            img {
              width: 8rem;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              position: absolute;
            }
          }

          &__content {
            flex: 1;
            margin-left: 1.5rem;

            .desc {
              font-size: 1.5rem;
              color: rgb(31, 31, 31);
            }

            .price {
              color: #fff;
              background: $color-red;
              text-align: right;
              padding: 0.5rem;
              font-size: 1.5rem;
              border-top-left-radius: 300px;
              border-bottom-left-radius: 300px;
              position: relative;

              .back {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: flex;

                img {
                  justify-content: flex-start;
                  width: 2rem;
                  margin: 0 1.5rem;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }

    .records {
      margin: 8rem 0;
      width: 100%;

      &__heading {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: center;
      }

      &__container {
        width: 100%;
        padding: 1.5rem;

        .record {
          padding: 0.2px;
          width: 70%;
          background-image: linear-gradient(-225deg, #ed1e79, #ed1c24);
          color: #fff;
          margin: 2rem 0;
          margin-left: 50%;
          transform: translateX(-50%);

          &__header {
            padding: 1rem;
            font-size: 2rem;
            border-bottom: 2px solid #fff;
          }

          &__content {
            margin-bottom: 3rem;

            .locations {
              margin-top: 2rem;
              width: 100%;
              padding: 2rem;
              position: relative;
              height: 18rem;

              .from,
              .to {
                width: 20rem;
                height: 15rem;
                background: #ffebeb;
                position: absolute;
                z-index: 2;
                border-radius: 3px;
                color: $color-secondary;

                .loc__back {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 5rem;
                  opacity: 0.3;
                  z-index: -1;
                  transform: translateX(-50%) translateY(-50%);
                }

                .text {
                  font-weight: 500;
                  padding: 1rem;
                  font-size: 1.8rem;
                }
              }

              .to {
                right: 2rem;
              }

              hr {
                position: absolute;
                border: 1.5px dashed #fff;
                width: 90%;
                top: 50%;
                z-index: 1;
              }
            }

            .record__details {
              margin-top: 2rem;
              padding: 2rem;

              h3 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
              }

              .row {
                margin: 0.5rem 0;
                font-size: 1.7rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50%;
              }
            }

            .record__time {
              margin: 0.5rem 0;
              font-size: 2.5rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 50%;
              margin-top: 2rem;
              padding-left: 2rem;
            }

            .record__cost {
              margin: 2rem 0;
              margin: 0.5rem 0;
              font-size: 5rem;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 90%;
              padding-left: 2rem;
            }
          }
        }
      }
    }

    //Profile
    .section__profile {
      width: 100%;
      padding: 2rem;

      .header {
        display: flex;
        width: 100%;
        align-items: center;
        height: 4rem;
        justify-content: space-between;

        h1 {
          font-size: 3rem;
        }

        .edit {
          width: 2rem;

          &:hover {
            cursor: pointer;
          }

          &:hover svg {
            fill: rgb(92, 92, 92);
          }

          svg {
            width: 100%;
          }
        }
      }

      .general {
        margin-top: 2rem;

        .name {
          font-size: 4rem;
          color: $color-red;
        }

        .email {
          color: $color-secondary;
          font-size: 1.4rem;
        }
      }

      .address,
      .phone {
        margin-top: 4rem;

        h1 {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
        }

        .text {
          font-size: 1.5rem;
        }
      }
    }

    .section__billing {
      padding-right: 1.5rem;

      .header {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        height: 15rem;
        padding: 2rem;
        border-bottom: 2px solid $color-secondary;

        h1 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }

        .total {
          font-family: "Patrick Hand", cursive;
          font-size: 2rem;
          color: #fff;
          letter-spacing: 3px;
        }
      }

      .bills__container {
        width: 100%;
        overflow-y: scroll;
        height: 50rem;

        .row {
          display: flex;
          width: 100%;
          background: #fda085;
          padding: 0.5rem;
          font-size: 2rem;
          font-weight: 500;
          justify-content: space-between;
        }

        .bill {
          display: flex;
          width: 100%;
          // background: rgb(230, 228, 220);
          padding: 0.8rem;
          font-size: 1.5rem;

          justify-content: space-between;
          border-bottom: 1.2px solid rgb(206, 205, 205);
        }
      }
    }

    .section__help {
      h1.heading {
        font-size: 4rem;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 5rem;
          left: 0;
          background: $color-red;
          height: 3px;
          bottom: 0rem;
        }
      }

      .faq {
        margin-top: 3rem;

        h1 {
          margin-bottom: 2rem;
        }

        .questions {
          font-size: 1.5rem;

          .question {
            margin: 1.5rem 0;

            .ques {
              font-weight: 500;
            }

            .ans {
              margin-left: 5rem;
              color: $color-red;
              position: relative;

              &::before {
                position: absolute;
                content: "";
                width: 3rem;
                height: 2px;
                background: $color-red;
                left: -4rem;
                top: 45%;
              }
            }
          }
        }
      }

      .number {
        margin-top: 6rem;

        h1 {
          font-size: 5rem;
          letter-spacing: 4px;
          text-align: center;
        }

        .contacts {
          display: flex;
          justify-content: center;

          .num {
            margin: 0 2rem;
            font-size: 3rem;
            position: relative;
            transition: $tran-smooth;

            &:hover {
              color: $color-red;
            }

            &:hover::after {
              width: 0;
            }

            &::after {
              position: absolute;
              content: "";
              bottom: 0;
              transition: $tran-smooth;
              height: 2px;
              width: 6rem;
              background: $color-primary-dark;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}

.create__profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10rem;

  .text {
    font-size: 2rem;
  }

  .link {
    background: $color-secondary;
    color: #fff;
    margin-top: 3rem;
    padding: 1.2rem 2.5rem;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

    .ln {
      font-size: 1.5rem;
      color: #fff;
    }
  }

  .logout {
    background: $color-primary-dark;

    .ln {
      color: $color-secondary;
    }
  }
}