<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">

    <link rel="shotcut icon" type="img/png" href="Images/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Patrick+Hand|Poppins:200,300,400,500,600,700,800,900|Staatliches&display=swap"
        rel="stylesheet">
    <title>Cyclespan | Admin</title>
    <script src="./js/rellax.min.js"></script>
</head>

<body>
    <nav class="admin__nav">
        <div class="heading">Admin</div>
        <div class="details">
            <div class="name">Amit Kumar</div>
            <div class="edit__links" id="editLinks">
                <div class="linkCont">
                    <div class="link">Manage Admins</div>
                    <div class="link">Edit Profile</div>
                    <div class="link">Logout</div>
                </div>
            </div>
            <div class="edit">
                <img src="./images/setting.svg" alt="">
            </div>
        </div>
    </nav>

    <div class="active__section">
        <div class="active__rides table__container">
            <div class="heading">Active Rides</div>
            <div class="table">

                <ul class="row head activeRides">
                    <li class="num"></li>
                    <li>Name</li>
                    <li>Pickup Location</li>
                    <li>Cyclemodel</li>
                    <li>Pickup Time</li>
                    <li>Ride Id</li>
                </ul>

                <ul class="row content activeRides">
                    <li class="num">1.</li>
                    <li>Amit Kumar</li>
                    <li>05</li>
                    <li>HR102</li>
                    <li>12:20</li>
                    <li>cyclespan112</li>
                </ul>
                <ul class="row content activeRides">
                    <li class="num">2.</li>
                    <li>Amit Kumar</li>
                    <li>05</li>
                    <li>HR102</li>
                    <li>12:20</li>
                    <li>cyclespan112</li>
                </ul>
                <ul class="row content activeRides">
                    <li class="num">3.</li>
                    <li>Amit Kumar</li>
                    <li>05</li>
                    <li>HR102</li>
                    <li>12:20</li>
                    <li>cyclespan112</li>
                </ul>
                <ul class="row content activeRides">
                    <li class="num">4.</li>
                    <li>Amit Kumar</li>
                    <li>05</li>
                    <li>HR102</li>
                    <li>12:20</li>
                    <li>cyclespan112</li>
                </ul>
                <ul class="row content activeRides">
                    <li class="num">5.</li>
                    <li>Amit Kumar</li>
                    <li>05</li>
                    <li>HR102</li>
                    <li>12:20</li>
                    <li>cyclespan112</li>
                </ul>
            </div>
        </div>

        <div class="active__otp table__container">
            <div class="heading">Active OTPs</div>
            <div class="table">
                <ul class="row head activeOtp">
                    <li class="num"></li>
                    <li>Name</li>
                    <li>OTP</li>
                </ul>
                <ul class="row content activeOtp">
                    <li class="num">1.</li>
                    <li>Amit Kumar</li>
                    <li>545484 </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section__record">
        <div class="today__record table__container">
            <div class="heading">
                <div class="text">Today's Record</div>
                <div class="view">View All</div>
            </div>
            <div class="table">
                <ul class="row head today">
                    <li class="num"></li>
                    <li>Name</li>
                    <li>Pickup Location</li>
                    <li>Cyclemodel</li>
                    <li>Pickup Time</li>
                    <li>Ride ID</li>
                    <li>Drop Location</li>
                    <li>Drop Time</li>
                    <li>Total Time(Hrs)</li>
                    <li>Fare(INR)</li>
                </ul>
                <ul class="row content today">
                    <li class="num">1. </li>
                    <li>Amit Kumar</li>
                    <li>22</li>
                    <li>HR121</li>
                    <li>12:20</li>
                    <li>cyclespan22</li>
                    <li>12</li>
                    <li>23:22</li>
                    <li>14</li>
                    <li>445</li>
                </ul>
                <ul class="row content today">
                    <li class="num">2. </li>
                    <li>Amit Kumar</li>
                    <li>22</li>
                    <li>HR121</li>
                    <li>12:20</li>
                    <li>cyclespan22</li>
                    <li>12</li>
                    <li>23:22</li>
                    <li>14</li>
                    <li>445</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section__allcycles">
        <div class="all__cycles table__container">
            <div class="heading">
                <div class="text">All cycles</div>
                <div class="btn" id="addCycles">
                    <div class="icon">+</div>
                    <div class="content">Add</div>
                </div>
            </div>
            <div class="table">
                <ul class="row head allCycles">
                    <li class="num"></li>
                    <li>Model</li>
                    <li>Company</li>
                    <li>Details</li>
                    <li>Colour</li>
                    <li>Gender</li>
                    <li>Gears</li>
                    <li>Rate</li>
                    <li>Image</li>
                    <li>Delete</li>
                </ul>
                <ul class="row content allCycles">
                    <li class="num">1.</li>
                    <li>HR102</li>
                    <li>Hero</li>
                    <li class="cycleDetails">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis nam
                        molestiae tenetur alias
                        expedita impedit.</li>
                    <li>Red</li>
                    <li>Male</li>
                    <li>4</li>
                    <li>15/hr</li>
                    <li>Img...</li>
                    <li><span class="del">Delete</span></li>
                </ul>
                <ul class="row content allCycles">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>Hero</li>
                    <li class="cycleDetails">Veritatis nam
                        molestiae tenetur alias
                        expedita impedit.</li>
                    <li>Red</li>
                    <li>Male</li>
                    <li>4</li>
                    <li>15/hr</li>
                    <li>Img...</li>
                    <li><span class="del">Delete</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section__allstations">
        <div class="all__stations table__container">
            <div class="heading">
                <div class="text">All stations</div>
                <div class="btn" id="addStations">
                    <div class="icon">+</div>
                    <div class="content">Add</div>
                </div>
            </div>
            <div class="table">
                <ul class="row head allStations">
                    <li class="num"></li>
                    <li>Address</li>
                    <li>PIN</li>
                    <li>Country</li>
                    <li>Code</li>
                    <li>State</li>
                    <li>City</li>
                    <li>Delete</li>
                </ul>
                <ul class="row content allStations">
                    <li class="num">1.</li>
                    <li>L 297, sector 23</li>
                    <li>201002</li>
                    <li class="cycleDetails">India</li>
                    <li>2</li>
                    <li>UP</li>
                    <li>Ghaziabad</li>
                    <li><span class="del">Delete</span></li>
                </ul>
                <ul class="row content allStations">
                    <li class="num">2.</li>
                    <li>L 297, sector 23</li>
                    <li>201002</li>
                    <li class="cycleDetails">India</li>
                    <li>2</li>
                    <li>UP</li>
                    <li>Ghaziabad</li>
                    <li><span class="del">Delete</span></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="section__available">
        <div class="all__availables table__container">
            <div class="heading">
                <div class="text">All Available cycles</div>
                <div class="search"><input type="text" placeholder="Search by ModelNo/LocationCode"></div>
                <div class="btn" id="addAvailable">
                    <div class="icon">+</div>
                    <div class="content">Add</div>
                </div>
            </div>
            <div class="table">
                <ul class="row head allAvailables">
                    <li class="num"></li>
                    <li>Model No.</li>
                    <li>Locaton</li>
                    <li>Count</li>
                    <li>Dec</li>
                    <li>Inc</li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">1.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">3.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">4.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">3.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">4.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">3.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">4.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">3.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">4.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">3.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">4.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">2.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">3.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
                <ul class="row content allAvailables">
                    <li class="num">4.</li>
                    <li>HR102</li>
                    <li>12</li>
                    <li>5</li>
                    <li><span class="dec">-</span></li>
                    <li><span class="inc">+</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal__forms">
        <div class="form__container">
            <div class="close noselect" id="close">+</div>

            <form action="" id="cycles">
                <h1>Add Cycles</h1>
                <input type="text" placeholder="Cycle Model" class="field" required>
                <input type="text" placeholder="Company" class="field" required>
                <input type="text" placeholder="Colour" class="field" required>
                <select name="" id="" class="select" required>
                    <option value="null">--Select Gears--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="radio" required>
                    <h3>Gender</h3>
                    <div class="radio__btns">
                        <div class="form__group">
                            <input type="radio" name="gender" value="M" id="male">
                            <label for="male">Male</label>
                        </div>
                        <div class="form__group"><input type="radio" name="gender" value="F" id="fem">
                            <label for="fem">Female</label></div>
                    </div>
                </div>
                <div class="uploader">
                    <h3>Choose an Image: </h3><input type="file" accept="image/png" class="upload__input">
                </div>
                <textarea name="desc" class="desc" cols="30" rows="3" placeholder="Description" required></textarea>
                <button type="Submit">Submit</button>

            </form>
            <form action="" id="stations">
                <h1>Add Stations</h1>
                <textarea name="desc" class="address" cols="30" rows="3" placeholder="Address" required></textarea>
                <input type="text" placeholder="City" class="field" required>
                <input type="Number" placeholder="Location Code" class="field" required>
                <input type="Number" placeholder="Pincode" class="field" required>
                <input type="text" placeholder="State" class="field" required>
                <input type="text" placeholder="Country" class="field" required>

                <button type="Submit">Submit</button>

            </form>
            <form action="" id="available">
                <h1>Add Available Cycles</h1>
                <select name="" id="" class="select" required>
                    <option value="null">--Select Model--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <select name="" id="" class="select" required>
                    <option value="null">--Select Location Code--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="number" placeholder="Count" class="field" required>
                <button type="Submit">Submit</button>

            </form>
        </div>
    </div>

    <script>
        var stationForm = $("#stations");
        var cycles = $("#cycles");
        var availables = $("#available");
        var close = $('#close');

        var btnCycles = $('#addCycles');
        var btnStations = $('#addStations');
        var btnAvailable = $('#addAvailable');
        stationForm.hide();
        cycles.hide();
        availables.hide();
        var popup = $(".modal__forms")
        popup.hide();

        close.click(function () {
            popup.hide();
            stationForm.hide();
            cycles.hide();
            availables.hide();
        })

        btnCycles.click(function () {
            popup.show()
            cycles.show();
        })
        btnStations.click(function () {
            popup.show();
            stationForm.show();
        })
        btnAvailable.click(function () {
            popup.show()
            availables.show();
        })

        var editlinks = $('#editLinks');
        var editBtn = $('.edit');

        editBtn.click(function () {
            editlinks.toggleClass('expandLink')
        })
    </script>
</body>

</html>