<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">

    <link rel="shotcut icon" type="img/png" href="Images/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Patrick+Hand|Poppins:200,300,400,500,600,700,800,900|Staatliches&display=swap"
        rel="stylesheet">
    <title>Cyclespan | Billing</title>
    <script src="./js/rellax.min.js"></script>
</head>

<body>


    <div class="dashboard__container">


        <div class="sidebar">
            <div class="header">
                <a href="./index.html" class="heading">CYCLESPAN</a>
                <div class="pic"></div>
                <div class="name">John Doe</div>
            </div>
            <hr>
            <div class="nav">
                <div class="link">
                    <a href="#">Dasboard</a>
                </div>
                <div class="link">
                    <a href="./profile.html">Profile</a>
                </div>
                <div class="link">
                    <a href="./billing.html">Billing</a>
                </div>
                <div class="link">
                    <a href="./help.html">Help</a>
                </div>

                <div class="logout">
                    <div class="img">
                        <img src="./images/logout.svg" alt="">
                    </div>
                    <p>Logout</p>
                </div>
            </div>
        </div>
        <div class="content">

            <div class="section__billing">
                <div class="header">
                    <h1>Billing</h1>
                    <div class="total">Total Rs. <span>4542</span></div>
                </div>
                <div class="bills__container">
                    <div class="row">
                        <div class="col">S. No.</div>
                        <div class="col">RideId</div>
                        <div class="col">Total Time</div>
                        <div class="col">Fare</div>
                    </div>
                    <div class="bill">
                        <div class="col">1</div>
                        <div class="col">cyclespan001</div>
                        <div class="col">12Hrs</div>
                        <div class="col">Rs. 420</div>
                    </div>
                    <div class="bill">
                        <div class="col">1</div>
                        <div class="col">cyclespan001</div>
                        <div class="col">12Hrs</div>
                        <div class="col">Rs. 420</div>
                    </div>
                    <div class="bill">
                        <div class="col">1</div>
                        <div class="col">cyclespan001</div>
                        <div class="col">12Hrs</div>
                        <div class="col">Rs. 420</div>
                    </div>
                    <div class="bill">
                        <div class="col">1</div>
                        <div class="col">cyclespan001</div>
                        <div class="col">12Hrs</div>
                        <div class="col">Rs. 420</div>
                    </div>
                    <div class="bill">
                        <div class="col">1</div>
                        <div class="col">cyclespan001</div>
                        <div class="col">12Hrs</div>
                        <div class="col">Rs. 420</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>

    </script>

</body>

</html>