<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">

    <link rel="shotcut icon" type="img/png" href="Images/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Patrick+Hand|Poppins:200,300,400,500,600,700,800,900|Staatliches&display=swap"
        rel="stylesheet">
    <title>Cyclespan | Dahsboard</title>
    <script src="./js/rellax.min.js"></script>
</head>

<body>


    <div class="dashboard__container">


        <div class="sidebar">
            <div class="header">
                <a href="./index.html" class="heading">CYCLESPAN</a>
                <div class="pic"></div>
                <div class="name">John Doe</div>
            </div>
            <hr>
            <div class="nav">
                <div class="link">
                    <a href="#">Dasboard</a>
                </div>
                <div class="link">
                    <a href="./profile.html">Profile</a>
                </div>
                <div class="link">
                    <a href="./billing.html">Billing</a>
                </div>
                <div class="link">
                    <a href="./help.html">Help</a>
                </div>

                <div class="logout">
                    <img src="./images/logout.svg" alt="" class="img">
                    <p>Logout</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="background">
                <img src="./images/globe.svg" alt="" class="globe">
                <img src="./images/pinkTraingle.svg" alt="" class="triangle1">
                <img src="./images/pinkTraingle.svg" alt="" class="triangle2">
            </div>
            <h3 class="heading">
                Simplest way to book a ride
            </h3>
            <div class="otpBtn">
                <div class="text">Get Otp</div>
                <div class="icon">
                    <img src="./images/rightArrow.svg" alt="">
                </div>
            </div>
            <div class="available">
                <div class="heading">Available cycles</div>

                <div class="search">
                    <input type="text" placeholder="Search location">
                    <div class="icon">
                        <img src="./images/loc.svg" alt="">
                    </div>
                </div>

                <div class="cycles">
                    <div class="cycle">
                        <div class="img"><img src="./images/yellowBike.png" alt=""></div>
                        <div class="cycle__content">
                            <h1 class="headign">HI - Bird| Mountain Bike</h1>
                            <div class="desc">
                                <div class="text">Gears - 5</div>
                                <div class="text">Color - Red</div>
                            </div>
                            <div class="price">
                                <div class="back">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                </div>
                                Rs. 15/Hr
                            </div>
                        </div>
                    </div>
                    <div class="cycle">
                        <div class="img"><img src="./images/yellowBike.png" alt=""></div>
                        <div class="cycle__content">
                            <h1 class="headign">HI - Bird| Mountain Bike</h1>
                            <div class="desc">
                                <div class="text">Gears - 5</div>
                                <div class="text">Color - Red</div>
                            </div>
                            <div class="price">
                                <div class="back">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                </div>
                                Rs. 15/Hr
                            </div>
                        </div>
                    </div>
                    <div class="cycle">
                        <div class="img"><img src="./images/SDL441475260-b9d93.png" alt=""></div>
                        <div class="cycle__content">
                            <h1 class="headign">HI - Bird| Mountain Bike</h1>
                            <div class="desc">
                                <div class="text">Gears - 5</div>
                                <div class="text">Color - Red</div>
                            </div>
                            <div class="price">
                                <div class="back">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                </div>
                                Rs. 15/Hr
                            </div>
                        </div>
                    </div>
                    <div class="cycle">
                        <div class="img"><img src="./images/yellowBike.png" alt=""></div>
                        <div class="cycle__content">
                            <h1 class="headign">HI - Bird| Mountain Bike</h1>
                            <div class="desc">
                                <div class="text">Gears - 5</div>
                                <div class="text">Color - Red</div>
                            </div>
                            <div class="price">
                                <div class="back">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                    <img src="./images/circle.svg" alt="" class="circle">
                                </div>
                                Rs. 15/Hr
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="records">
                <div class="records__heading">Your previous rides</div>
                <div class="records__container">
                    <div class="record">
                        <div class="record__header">
                            18th Nov 2020 | Ride Id: cyclespan125
                        </div>
                        <div class="record__content">

                            <div class="locations">
                                <hr>
                                <div class="from">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                                <div class="to">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                            </div>
                            <div class="record__details">
                                <h3>Cycle Details</h3>
                                <div class="row">
                                    <div class="col">Model Name: HR101</div>
                                    <div class="col">Color: Red</div>
                                </div>
                                <div class="row">
                                    <div class="col">Company Name: Hero</div>
                                    <div class="col">Gears: Yes</div>
                                </div>
                                <div class="row">
                                    <div class="col">Charges : Rs. 80</div>
                                </div>
                            </div>

                            <div class="record__time">
                                <div class="field">Total time spent</div>
                                <div class="value">30Hrs</div>
                            </div>
                            <div class="record__cost">
                                <div class="field">Total Cost</div>
                                <div class="value">Rs. 352</div>
                            </div>

                        </div>
                    </div>
                    <div class="record">
                        <div class="record__header">
                            18th Nov 2020 | Ride Id: cyclespan125
                        </div>
                        <div class="record__content">

                            <div class="locations">
                                <hr>
                                <div class="from">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                                <div class="to">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                            </div>
                            <div class="record__details">
                                <h3>Cycle Details</h3>
                                <div class="row">
                                    <div class="col">Model Name: HR101</div>
                                    <div class="col">Color: Red</div>
                                </div>
                                <div class="row">
                                    <div class="col">Company Name: Hero</div>
                                    <div class="col">Gears: Yes</div>
                                </div>
                                <div class="row">
                                    <div class="col">Charges : Rs. 80</div>
                                </div>
                            </div>

                            <div class="record__time">
                                <div class="field">Total time spent</div>
                                <div class="value">30Hrs</div>
                            </div>
                            <div class="record__cost">
                                <div class="field">Total Cost</div>
                                <div class="value">Rs. 352</div>
                            </div>

                        </div>
                    </div>
                    <div class="record">
                        <div class="record__header">
                            18th Nov 2020 | Ride Id: cyclespan125
                        </div>
                        <div class="record__content">

                            <div class="locations">
                                <hr>
                                <div class="from">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                                <div class="to">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                            </div>
                            <div class="record__details">
                                <h3>Cycle Details</h3>
                                <div class="row">
                                    <div class="col">Model Name: HR101</div>
                                    <div class="col">Color: Red</div>
                                </div>
                                <div class="row">
                                    <div class="col">Company Name: Hero</div>
                                    <div class="col">Gears: Yes</div>
                                </div>
                                <div class="row">
                                    <div class="col">Charges : Rs. 80</div>
                                </div>
                            </div>

                            <div class="record__time">
                                <div class="field">Total time spent</div>
                                <div class="value">30Hrs</div>
                            </div>
                            <div class="record__cost">
                                <div class="field">Total Cost</div>
                                <div class="value">Rs. 352</div>
                            </div>

                        </div>
                    </div>
                    <div class="record">
                        <div class="record__header">
                            18th Nov 2020 | Ride Id: cyclespan125
                        </div>
                        <div class="record__content">

                            <div class="locations">
                                <hr>
                                <div class="from">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                                <div class="to">
                                    <div class="loc__back">
                                        <img src="./images/maps-and-flags.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="address">L-123, sec -23, sanjay Nagar</div>
                                        <div class="address">Ghaziabad</div>
                                        <div class="address">Pincode - 201002</div>
                                    </div>
                                </div>
                            </div>
                            <div class="record__details">
                                <h3>Cycle Details</h3>
                                <div class="row">
                                    <div class="col">Model Name: HR101</div>
                                    <div class="col">Color: Red</div>
                                </div>
                                <div class="row">
                                    <div class="col">Company Name: Hero</div>
                                    <div class="col">Gears: Yes</div>
                                </div>
                                <div class="row">
                                    <div class="col">Charges : Rs. 80</div>
                                </div>
                            </div>

                            <div class="record__time">
                                <div class="field">Total time spent</div>
                                <div class="value">30Hrs</div>
                            </div>
                            <div class="record__cost">
                                <div class="field">Total Cost</div>
                                <div class="value">Rs. 352</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var rellax1 = new Rellax('.globe', {
            speed: 8,
            center: false,
            wrapper: null,
            round: true,
            vertical: true,
            horizontal: false
        });
        var rellax1 = new Rellax('.triangle1', {
            speed: -2,
            center: false,
            wrapper: null,
            round: true,
            vertical: true,
            horizontal: false
        });
        var rellax1 = new Rellax('.triangle2', {
            speed: -2,
            center: false,
            wrapper: null,
            round: true,
            vertical: true,
            horizontal: false
        });
    </script>

</body>

</html>