<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">

    <link rel="shotcut icon" type="img/png" href="Images/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Patrick+Hand|Poppins:200,300,400,500,600,700,800,900|Staatliches&display=swap"
        rel="stylesheet">
    <title>Cyclespan</title>
    <script src="./js/script.js"></script>
    <script src="./js/rellax.min.js"></script>
</head>

<body>

    <div class="background__pattern">
        <img src="./images/circle.svg" alt="" class="circle">
        <img src="./images/helmet.svg" alt="" class="helmet">
        <img src="./images/googles.svg" alt="" class="glass">
        <img src="./images/save.svg" alt="" class="save">
        <img src="./images/sayno.svg" alt="" class="sayno">
        <img src="./images/zigzag.svg" alt="" class="zigzag">
    </div>

    <nav class="nav">
        <div class="links">
            <a href="#" class="link">Home</a>
            <a href="#" class="link">Login</a>
            <a href="#" class="link">Cycles</a>
            <a href="#" class="link">Stations</a>
            <a href="#" class="link">Help</a>
        </div>
    </nav>
    <header class="header">
        <div class="sidebar">
            <div class="logo"><img src="./images/cycleSpanLogo.svg" alt=""></div>
            <div class="social">
                <div class="links">
                    <a href="#" class="link"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-223 25 512 512"
                            style="enable-background:new -223 25 512 512;" xml:space="preserve">
                            <path d="M74.3,533.7c-2.1,0.3-4.3,0.7-6.4,1C70,534.3,72.1,534,74.3,533.7z" />
                            <path d="M79.4,532.8c-1,0.2-2,0.4-3.1,0.5C77.4,533.2,78.4,533,79.4,532.8z" />
                            <path d="M62.1,535.3c-2.5,0.3-5,0.5-7.5,0.7C57.1,535.9,59.6,535.6,62.1,535.3z" />
                            <path d="M67.1,534.7c-1.2,0.2-2.4,0.3-3.6,0.4C64.6,535,65.9,534.9,67.1,534.7z" />
                            <path d="M86.4,531.4c-0.9,0.2-1.8,0.4-2.7,0.6C84.6,531.8,85.5,531.6,86.4,531.4z" />
                            <path d="M103.7,527.1c-0.7,0.2-1.5,0.4-2.2,0.6C102.2,527.5,102.9,527.3,103.7,527.1z" />
                            <path d="M98.4,528.5c-0.8,0.2-1.6,0.4-2.4,0.6C96.9,529,97.6,528.8,98.4,528.5z" />
                            <path d="M91.6,530.3c-0.8,0.2-1.7,0.4-2.5,0.6C89.9,530.6,90.8,530.4,91.6,530.3z" />
                            <path d="M54.5,536.1c-1.3,0.1-2.7,0.2-4,0.3C51.8,536.3,53.2,536.2,54.5,536.1z" />
                            <path d="M289,281C289,139.6,174.4,25,33,25s-256,114.6-256,256s114.6,256,256,256c1.5,0,3,0,4.5-0.1V337.7h-55v-64.1h55v-47.2
                       c0-54.7,33.4-84.5,82.2-84.5c23.4,0,43.5,1.7,49.3,2.5v57.2h-33.6c-26.5,0-31.7,12.6-31.7,31.1v40.8h63.5l-8.3,64.1h-55.2v189.5
                       C210.7,496.4,289,397.9,289,281z" />
                            <path d="M49.9,536.4c-2.7,0.2-5.3,0.3-8,0.4C44.6,536.7,47.3,536.6,49.9,536.4z" />
                            <path d="M41.8,536.8c-1.4,0-2.8,0.1-4.3,0.1C38.9,536.9,40.3,536.9,41.8,536.8z" />
                        </svg></a>
                    <a href="#" class="link"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-223 25 512 512"
                            style="enable-background:new -223 25 512 512;" xml:space="preserve">
                            <path d="M1.1,329l83.3-48L1.1,233V329z" />
                            <path d="M33,25c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S174.4,25,33,25z M193,281.3c0,0,0,51.9-6.6,77
                       c-3.7,13.7-14.5,24.5-28.2,28.2C133.1,393,33,393,33,393s-99.9,0-125.2-6.9c-13.7-3.7-24.5-14.5-28.2-28.2
                       C-127,333.2-127,281-127,281s0-51.9,6.6-76.9c3.7-13.7,14.8-24.8,28.2-28.5C-67.1,169,33,169,33,169s100.1,0,125.2,6.9
                       c13.7,3.7,24.5,14.5,28.2,28.2C193.2,229.1,193,281.3,193,281.3z" />
                        </svg></a>
                    <a href="#" class="link"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-223 25 512 512"
                            style="enable-background:new -223 25 512 512;" xml:space="preserve">
                            <path d="M82,281c0,27.1-21.9,49-49,49s-49-21.9-49-49s21.9-49,49-49S82,253.9,82,281z" />
                            <path d="M147.6,194.3c-2.4-6.4-6.1-12.2-11-16.9c-4.7-4.9-10.5-8.6-16.9-11c-5.2-2-13-4.4-27.3-5.1c-15.5-0.7-20.2-0.9-59.4-0.9
                       c-39.3,0-43.9,0.1-59.4,0.9c-14.3,0.7-22.1,3.1-27.3,5.1c-6.4,2.4-12.2,6.1-16.9,11c-4.9,4.7-8.6,10.5-11,16.9
                       c-2,5.2-4.4,13-5.1,27.3c-0.7,15.5-0.9,20.1-0.9,59.4c0,39.3,0.2,43.9,0.9,59.4c0.7,14.3,3,22.1,5.1,27.3c2.4,6.4,6.1,12.2,11,16.9
                       c4.7,4.9,10.5,8.6,16.9,11c5.2,2,13,4.4,27.3,5.1c15.5,0.7,20.1,0.9,59.4,0.9c39.3,0,43.9-0.1,59.4-0.9c14.3-0.7,22.1-3,27.3-5.1
                       c12.8-4.9,23-15.1,27.9-27.9c2-5.2,4.4-13,5.1-27.3c0.7-15.5,0.9-20.2,0.9-59.4c0-39.3-0.1-43.9-0.9-59.4
                       C152,207.3,149.6,199.5,147.6,194.3z M33,356.5c-41.7,0-75.5-33.8-75.5-75.5s33.8-75.5,75.5-75.5c41.7,0,75.5,33.8,75.5,75.5
                       S74.7,356.5,33,356.5z M111.5,220.2c-9.7,0-17.6-7.9-17.6-17.6s7.9-17.6,17.6-17.6s17.6,7.9,17.6,17.6
                       C129.1,212.3,121.2,220.2,111.5,220.2z" />
                            <path
                                d="M33,25c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S174.4,25,33,25z M179.1,341.6
                       c-0.7,15.6-3.2,26.3-6.8,35.7c-7.6,19.7-23.2,35.4-43,43c-9.3,3.6-20,6.1-35.7,6.8C77.9,427.8,72.9,428,33,428
                       c-39.9,0-44.9-0.2-60.6-0.9c-15.6-0.7-26.3-3.2-35.7-6.8c-9.8-3.7-18.7-9.5-26-17c-7.5-7.3-13.3-16.2-17-26
                       c-3.6-9.3-6.1-20-6.8-35.7c-0.7-15.7-0.9-20.7-0.9-60.6s0.2-44.9,0.9-60.6c0.7-15.6,3.2-26.3,6.8-35.7c3.7-9.8,9.5-18.7,17-26
                       c7.3-7.5,16.2-13.3,26-17c9.4-3.6,20-6.1,35.7-6.8c15.7-0.7,20.7-0.9,60.6-0.9s44.9,0.2,60.6,0.9c15.6,0.7,26.3,3.2,35.7,6.8
                       c9.8,3.7,18.7,9.5,26,17c7.5,7.3,13.3,16.2,17,26c3.6,9.4,6.1,20,6.8,35.7c0.7,15.7,0.9,20.7,0.9,60.6S179.8,325.9,179.1,341.6z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-bg"></div>

        <div class="main">

            <div class="content">
                <h1>CYCLE<span>SPAN</span></h1>
                <div class="sub">Ride In Style</div>
                <a href="#">
                    <div class="text">Book a ride</div>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 560 560"
                        style="enable-background:new 0 0 560 560;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: none;
                                stroke: #000000;
                                stroke-miterlimit: 10;
                            }
                        </style>
                        <g id="XMLID_25_">
                            <circle id="XMLID_20_" class="st0" cx="279.5" cy="279.5" r="271.5" />
                            <rect id="XMLID_21_" x="274.6" y="8" width="9.9" height="543.1" />

                            <rect id="XMLID_23_" x="274.6" y="8"
                                transform="matrix(0.7071 -0.7071 0.7071 0.7071 -115.7791 279.5358)" width="9.9"
                                height="543.1" />
                            <rect id="XMLID_22_" x="8" y="274.6" width="543.1" height="9.9" />

                            <rect id="XMLID_24_" x="274.6" y="8"
                                transform="matrix(0.7071 0.7071 -0.7071 0.7071 279.5299 -115.7935)" width="9.9"
                                height="543.1" />
                        </g>
                    </svg>
                </a>
            </div>
            <div class="image">
                <img src="./images/yellowBike.png" alt="">
                <div class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, et nihil.
                    Repellendus, laborum modi.</div>
            </div>

        </div>
    </header>

    <section class="section__steps">
        <div class="heading__book">How to book ?</div>
        <div class="steps">
            <div class="step step__left">
                <img src="./images/one.svg" alt="" class="count">
                <div class="content">
                    <div class="text">
                        Get an OTP from your account
                    </div>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 158.8 39.8"
                        style="enable-background:new 0 0 158.8 39.8;" xml:space="preserve">
                        <g id="XMLID_53_">
                            <path id="XMLID_54_" d="M31.4,6.1L22.4,18v0.2l14.4-1.9v6.5l-14.4-1.7v0.2l9.2,11.5l-6,3.4l-5.7-13.4h-0.2l-6.2,13.5l-5.4-3.4
                       L17,21.1V21L2.9,22.8v-6.5l14,1.8v-0.2l-9-11.7l5.8-3.3l5.9,13.3h0.2l5.8-13.4L31.4,6.1z" />
                            <path id="XMLID_56_" d="M71.1,6.1L62,18v0.2l14.4-1.9v6.5L62,21.1v0.2l9.2,11.5l-6,3.4l-5.7-13.4h-0.2L53,36.2l-5.4-3.4l9.1-11.7
                       V21l-14.1,1.8v-6.5l14,1.8v-0.2l-9-11.7l5.8-3.3l5.9,13.3h0.2l5.8-13.4L71.1,6.1z" />
                            <path id="XMLID_58_" d="M110.7,6.1L101.6,18v0.2l14.4-1.9v6.5l-14.4-1.7v0.2l9.2,11.5l-6,3.4L99,22.8h-0.2l-6.2,13.5l-5.4-3.4
                       l9.1-11.7V21l-14.1,1.8v-6.5l14,1.8v-0.2l-9-11.7L93,2.9L99,16.2h0.2L105,2.8L110.7,6.1z" />
                            <path id="XMLID_60_" d="M150.3,6.1L141.3,18v0.2l14.4-1.9v6.5l-14.4-1.7v0.2l9.2,11.5l-6,3.4l-5.7-13.4h-0.2l-6.2,13.5l-5.4-3.4
                       l9.1-11.7V21l-14.1,1.8v-6.5l14,1.8v-0.2l-9-11.7l5.8-3.3l5.9,13.3h0.2l5.8-13.4L150.3,6.1z" />
                        </g>
                    </svg>
                </div>
                <hr class="dashed">
            </div>
            <div class="step step__right">
                <img src="./images/two.svg" alt="" class="count">
                <div class="content">
                    <div class="text">
                        Enter that OTP on the screen of
                        any bicycle stant at your nearest
                        station
                    </div>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64.2 83.6"
                        style="enable-background:new 0 0 64.2 83.6;" xml:space="preserve">
                        <g id="XMLID_117_">
                            <path id="XMLID_118_" d="M59.6,78.2H5.3v-75h54.3V78.2z M6.3,77.2h52.3v-73H6.3V77.2z" />
                            <path id="XMLID_119_" d="M56.9,22.9H7.3V8.6h49.7V22.9z M8.3,21.9h47.7V9.6H8.3V21.9z" />
                            <circle id="XMLID_96_" cx="14.8" cy="37.1" r="6" />
                            <circle id="XMLID_98_" cx="31.8" cy="37.1" r="6" />
                            <circle id="XMLID_99_" cx="48.8" cy="37.1" r="6" />
                            <circle id="XMLID_102_" cx="14.8" cy="53.1" r="6" />
                            <circle id="XMLID_101_" cx="31.8" cy="53.1" r="6" />
                            <circle id="XMLID_100_" cx="48.8" cy="53.1" r="6" />
                            <circle id="XMLID_105_" cx="14.8" cy="69.1" r="6" />
                            <circle id="XMLID_104_" cx="31.8" cy="69.1" r="6" />
                            <circle id="XMLID_103_" cx="48.8" cy="69.1" r="6" />
                            <g id="XMLID_90_">
                                <path id="XMLID_92_" d="M36.4,13.3l-1.1,1.5v0l1.8-0.2v0.8l-1.8-0.2v0l1.2,1.4L35.6,17l-0.7-1.7h0l-0.8,1.7l-0.7-0.4l1.1-1.5v0
                           l-1.8,0.2v-0.8l1.8,0.2v0l-1.1-1.5l0.7-0.4l0.7,1.7h0l0.7-1.7L36.4,13.3z" />
                                <path id="XMLID_125_" d="M41.4,13.3l-1.1,1.5v0l1.8-0.2v0.8l-1.8-0.2v0l1.2,1.4L40.6,17l-0.7-1.7h0l-0.8,1.7l-0.7-0.4l1.1-1.5v0
                           l-1.8,0.2v-0.8l1.8,0.2v0l-1.1-1.5l0.7-0.4l0.7,1.7h0l0.7-1.7L41.4,13.3z" />
                                <path id="XMLID_127_" d="M46.3,13.3l-1.1,1.5v0l1.8-0.2v0.8l-1.8-0.2v0l1.2,1.4L45.6,17l-0.7-1.7h0l-0.8,1.7l-0.7-0.4l1.1-1.5v0
                           l-1.8,0.2v-0.8l1.8,0.2v0l-1.1-1.5l0.7-0.4l0.7,1.7h0l0.7-1.7L46.3,13.3z" />
                                <path id="XMLID_129_" d="M51.3,13.3l-1.1,1.5v0l1.8-0.2v0.8l-1.8-0.2v0l1.2,1.4L50.6,17l-0.7-1.7h0l-0.8,1.7l-0.7-0.4l1.1-1.5v0
                           l-1.8,0.2v-0.8l1.8,0.2v0l-1.1-1.5l0.7-0.4l0.7,1.7h0l0.7-1.7L51.3,13.3z" />
                            </g>
                        </g>
                    </svg>

                </div>
                <hr class="dashed-opp">
            </div>
            <div class="step step__left">
                <img src="./images/three.svg" alt="" class="count">
                <div class="content">
                    <div class="text">
                        A rideId will given to you.
                        Save that id and submit it at the
                        end of your ride on the station
                    </div>
                    <img src="" alt="" class="icon">
                </div>
                <hr class="dashed">
            </div>
            <div class="step step__final step__right">
                <img src="./images/dotBorder.svg" alt="">
                <div class="content">
                    <div class="text final__text">
                        Enjoy your ride
                    </div>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="106 -106 512 512"
                        style="enable-background:new 106 -106 512 512;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #FFFFFF;
                            }
                        </style>
                        <g>
                            <g>
                                <g>
                                    <path class="st0"
                                        d="M436.7,16.7c23.5,0,42.7-19.2,42.7-42.7s-19.2-42.7-42.7-42.7S394-49.5,394-26S413.2,16.7,436.7,16.7z" />
                                    <path class="st0" d="M212.7,155.3C154,155.3,106,203.3,106,262s48,106.7,106.7,106.7s106.7-48,106.7-106.7
                               S271.3,155.3,212.7,155.3z M212.7,336.7c-41.6,0-74.7-33.1-74.7-74.7s33.1-74.7,74.7-74.7s74.7,33.1,74.7,74.7
                               S254.3,336.7,212.7,336.7z" />
                                    <path class="st0" d="M510.3,132.9V90.3c-32,0-58.7-11.7-77.9-30.9l-41.6-40.5C384.4,11.3,373.7,6,362,6
                               c-11.7,0-22.4,4.3-29.9,12.8l-58.7,58.7c-7.5,7.5-12.8,18.1-12.8,29.9s5.3,22.4,12.8,30.9l67.2,59.7v106.7h42.7V171.3l-46.9-46.9
                               l50.1-51.2l16,16C429.2,116.9,466.5,132.9,510.3,132.9z" />
                                    <path class="st0"
                                        d="M511.3,155.3c-58.7,0-106.7,48-106.7,106.7s48,106.7,106.7,106.7S618,320.7,618,262S570,155.3,511.3,155.3z
                                M511.3,336.7c-41.6,0-74.7-33.1-74.7-74.7s33.1-74.7,74.7-74.7S586,220.4,586,262S552.9,336.7,511.3,336.7z" />
                                </g>
                            </g>
                        </g>
                    </svg>


                </div>
            </div>
        </div>
    </section>

    <section class="section__cycles">
        <div class="heading__shadowed">
            Cycles
        </div>

        <div class="cycle__slider">
            <section class="regular slider">
                <div>
                    <div class="card">
                        <div class="image">
                            <img src="./images/yellowBike.png" alt="">
                        </div>
                        <div class="content">

                            <h1>Heading</h1>
                            <p>description</p>
                            <div class="features">
                                <div class="feature">
                                    <div class="name">Company</div>
                                    <div class="value">Hero</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Model</div>
                                    <div class="value">HR301</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gender</div>
                                    <div class="value">M</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gears</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="image">
                            <img src="./images/yellowBike.png" alt="">
                        </div>
                        <div class="content">

                            <h1>Heading</h1>
                            <p>description</p>
                            <div class="features">
                                <div class="feature">
                                    <div class="name">Company</div>
                                    <div class="value">Hero</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Model</div>
                                    <div class="value">HR301</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gender</div>
                                    <div class="value">M</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gears</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="image">
                            <img src="./images/yellowBike.png" alt="">
                        </div>
                        <div class="content">

                            <h1>Heading</h1>
                            <p>description</p>
                            <div class="features">
                                <div class="feature">
                                    <div class="name">Company</div>
                                    <div class="value">Hero</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Model</div>
                                    <div class="value">HR301</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gender</div>
                                    <div class="value">M</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gears</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="image">
                            <img src="./images/yellowBike.png" alt="">
                        </div>
                        <div class="content">

                            <h1>Heading</h1>
                            <p>description</p>
                            <div class="features">
                                <div class="feature">
                                    <div class="name">Company</div>
                                    <div class="value">Hero</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Model</div>
                                    <div class="value">HR301</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gender</div>
                                    <div class="value">M</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gears</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="image">
                            <img src="./images/yellowBike.png" alt="">
                        </div>
                        <div class="content">

                            <h1>Heading</h1>
                            <p>description</p>
                            <div class="features">
                                <div class="feature">
                                    <div class="name">Company</div>
                                    <div class="value">Hero</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Model</div>
                                    <div class="value">HR301</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gender</div>
                                    <div class="value">M</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gears</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="image">
                            <img src="./images/yellowBike.png" alt="">
                        </div>
                        <div class="content">

                            <h1>Heading</h1>
                            <p>description</p>
                            <div class="features">
                                <div class="feature">
                                    <div class="name">Company</div>
                                    <div class="value">Hero</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Model</div>
                                    <div class="value">HR301</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gender</div>
                                    <div class="value">M</div>
                                </div>
                                <div class="feature">
                                    <div class="name">Gears</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>
    <section class="section__stations">
        <div class="heading__shadowed">
            Stations
        </div>

        <div class="search">
            <input type="text" class="bar" placeholder="Search City">
            <div class="location__icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-23 25 512 512"
                    style="enable-background:new -23 25 512 512;" xml:space="preserve">
                    <style type="text/css">
                        .st0c {
                            fill: #EE3840;
                        }

                        .st1c {
                            fill: #FFE1D6;
                        }
                    </style>
                    <path class="st0c" d="M431.8,223.8c0,159.2-179.8,306.7-179.8,306.7c-10.5,8.6-27.7,8.6-38.2,0c0,0-179.8-147.5-179.8-306.7
	C34.2,114,123.2,25,233,25S431.8,114,431.8,223.8z" />
                    <path class="st1c"
                        d="M233,323.9c-55.2,0-100-44.9-100-100s44.9-100,100-100s100,44.9,100,100S288.2,323.9,233,323.9z" />
                </svg>

            </div>
        </div>

        <div class="address__container">

            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>

            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>

            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
            <div class="address">
                <div class="top">Location Code : 23</div>
                <div class="bottom">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>

        </div>

    </section>

    <footer class="footer">
        <svg class="cycle" xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 512 512" width="512">
            <circle cx="144" cy="392" fill="rgb(145, 142, 142)" r="64" />
            <circle cx="360" cy="392" fill="rgb(145, 142, 142)" r="64" />
            <g fill="#2D2D2D">
                <path
                    d="m464 448h-58.815a71.977 71.977 0 0 0 -62.819-125.808l-18.822-50.192h36.456v8h-8a8 8 0 0 0 0 16h8a16.019 16.019 0 0 0 16-16v-8a16.019 16.019 0 0 0 -16-16h-72a8 8 0 0 0 0 16h18.456l6 16h-89.615l-5.383-32h14.542a8 8 0 0 0 0-16h-48a8 8 0 0 0 0 16h17.233l6.369 37.864-27.089 36.118a71.958 71.958 0 0 0 -81.698 118.018h-82.815a8 8 0 0 0 0 16h448a8 8 0 0 0 0-16zm-104-112a56.044 56.044 0 1 1 -26.946 6.927l19.456 51.882a8 8 0 1 0 14.98-5.618l-19.459-51.891a55.952 55.952 0 0 1 11.969-1.3zm-58.157-32-64.456 70.482-11.856-70.482zm-90.577 11.646 11.497 68.354h-7.218a71.848 71.848 0 0 0 -22.245-44.4zm-27.628 36.836a55.881 55.881 0 0 1 15.781 31.518h-39.419zm-95.638 39.518a55.978 55.978 0 0 1 82.847-49.13l-33.247 44.33a8 8 0 0 0 6.4 12.8h55.419a56 56 0 0 1 -111.419-8zm101.185 56a71.958 71.958 0 0 0 26.36-48h16.455c.188 0 .374-.006.559-.019a8 8 0 0 0 5.563-2.594l81.808-89.457 7.466 19.908a71.918 71.918 0 0 0 -12.581 120.162z" />
                <path d="m496 448h-8a8 8 0 0 0 0 16h8a8 8 0 0 0 0-16z" />
                <path
                    d="m300 192h120a28 28 0 0 0 0-56h-26a48.006 48.006 0 0 0 -94.668.008 28 28 0 0 0 .668 55.992zm-8.491-36.478a11.946 11.946 0 0 1 8.491-3.522h6.667a8 8 0 0 0 8-8 32 32 0 0 1 64 0 8 8 0 0 0 8 8h33.333a12 12 0 0 1 0 24h-120a12 12 0 0 1 -8.491-20.478z" />
                <path
                    d="m88 160h144a32 32 0 0 0 0-64h-32.569a56.006 56.006 0 0 0 -110.862 0h-.569a32 32 0 0 0 0 64zm-11.319-43.307a15.928 15.928 0 0 1 11.319-4.693h8a8 8 0 0 0 8-8 40 40 0 0 1 80 0 8 8 0 0 0 8 8h40a16 16 0 0 1 0 32h-144a16 16 0 0 1 -11.319-27.307z" />
            </g>
        </svg>
        <div class="content">
            <div class="logo"><img src="./images/cycleSpanLogo.svg" alt=""></div>
            <div class="text">
                <h1>Cyclespan</h1>
                <div class="links">
                    <a href="#" class="link">Privacy Policy</a>
                    <a href="#" class="link">Pricing</a>
                    <a href="#" class="link">Help</a>
                </div>

            </div>
        </div>
        <form action="" class="form">
            <h1>Leave Feedback</h1>
            <input type="email" placeholder="Email">
            <textarea name="" id="" cols="30" rows="2" placeholder="Feedback"></textarea>

            <button type="submit" title="Send" value="Submit">
                <svg id="Capa_1" x="0px" y="0px" viewBox="0 0 49.636 49.636"
                    style="enable-background:new 0 0 49.636 49.636;" xml:space="preserve">
                    <polygon style="fill:#FFDC32;" points="23.001,27.245 0,23.39 49.636,0.61 25.636,49.026 " />
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>

            </button>
        </form>
        <br>
        <hr>
        <div class="social">

            <a href="#" class="link"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-223 25 512 512"
                    style="enable-background:new -223 25 512 512;" xml:space="preserve">
                    <path d="M74.3,533.7c-2.1,0.3-4.3,0.7-6.4,1C70,534.3,72.1,534,74.3,533.7z" />
                    <path d="M79.4,532.8c-1,0.2-2,0.4-3.1,0.5C77.4,533.2,78.4,533,79.4,532.8z" />
                    <path d="M62.1,535.3c-2.5,0.3-5,0.5-7.5,0.7C57.1,535.9,59.6,535.6,62.1,535.3z" />
                    <path d="M67.1,534.7c-1.2,0.2-2.4,0.3-3.6,0.4C64.6,535,65.9,534.9,67.1,534.7z" />
                    <path d="M86.4,531.4c-0.9,0.2-1.8,0.4-2.7,0.6C84.6,531.8,85.5,531.6,86.4,531.4z" />
                    <path d="M103.7,527.1c-0.7,0.2-1.5,0.4-2.2,0.6C102.2,527.5,102.9,527.3,103.7,527.1z" />
                    <path d="M98.4,528.5c-0.8,0.2-1.6,0.4-2.4,0.6C96.9,529,97.6,528.8,98.4,528.5z" />
                    <path d="M91.6,530.3c-0.8,0.2-1.7,0.4-2.5,0.6C89.9,530.6,90.8,530.4,91.6,530.3z" />
                    <path d="M54.5,536.1c-1.3,0.1-2.7,0.2-4,0.3C51.8,536.3,53.2,536.2,54.5,536.1z" />
                    <path d="M289,281C289,139.6,174.4,25,33,25s-256,114.6-256,256s114.6,256,256,256c1.5,0,3,0,4.5-0.1V337.7h-55v-64.1h55v-47.2
                   c0-54.7,33.4-84.5,82.2-84.5c23.4,0,43.5,1.7,49.3,2.5v57.2h-33.6c-26.5,0-31.7,12.6-31.7,31.1v40.8h63.5l-8.3,64.1h-55.2v189.5
                   C210.7,496.4,289,397.9,289,281z" />
                    <path d="M49.9,536.4c-2.7,0.2-5.3,0.3-8,0.4C44.6,536.7,47.3,536.6,49.9,536.4z" />
                    <path d="M41.8,536.8c-1.4,0-2.8,0.1-4.3,0.1C38.9,536.9,40.3,536.9,41.8,536.8z" />
                </svg></a>
            <a href="#" class="link"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-223 25 512 512"
                    style="enable-background:new -223 25 512 512;" xml:space="preserve">
                    <path d="M1.1,329l83.3-48L1.1,233V329z" />
                    <path d="M33,25c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S174.4,25,33,25z M193,281.3c0,0,0,51.9-6.6,77
                   c-3.7,13.7-14.5,24.5-28.2,28.2C133.1,393,33,393,33,393s-99.9,0-125.2-6.9c-13.7-3.7-24.5-14.5-28.2-28.2
                   C-127,333.2-127,281-127,281s0-51.9,6.6-76.9c3.7-13.7,14.8-24.8,28.2-28.5C-67.1,169,33,169,33,169s100.1,0,125.2,6.9
                   c13.7,3.7,24.5,14.5,28.2,28.2C193.2,229.1,193,281.3,193,281.3z" />
                </svg></a>
            <a href="#" class="link"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-223 25 512 512"
                    style="enable-background:new -223 25 512 512;" xml:space="preserve">
                    <path d="M82,281c0,27.1-21.9,49-49,49s-49-21.9-49-49s21.9-49,49-49S82,253.9,82,281z" />
                    <path d="M147.6,194.3c-2.4-6.4-6.1-12.2-11-16.9c-4.7-4.9-10.5-8.6-16.9-11c-5.2-2-13-4.4-27.3-5.1c-15.5-0.7-20.2-0.9-59.4-0.9
                   c-39.3,0-43.9,0.1-59.4,0.9c-14.3,0.7-22.1,3.1-27.3,5.1c-6.4,2.4-12.2,6.1-16.9,11c-4.9,4.7-8.6,10.5-11,16.9
                   c-2,5.2-4.4,13-5.1,27.3c-0.7,15.5-0.9,20.1-0.9,59.4c0,39.3,0.2,43.9,0.9,59.4c0.7,14.3,3,22.1,5.1,27.3c2.4,6.4,6.1,12.2,11,16.9
                   c4.7,4.9,10.5,8.6,16.9,11c5.2,2,13,4.4,27.3,5.1c15.5,0.7,20.1,0.9,59.4,0.9c39.3,0,43.9-0.1,59.4-0.9c14.3-0.7,22.1-3,27.3-5.1
                   c12.8-4.9,23-15.1,27.9-27.9c2-5.2,4.4-13,5.1-27.3c0.7-15.5,0.9-20.2,0.9-59.4c0-39.3-0.1-43.9-0.9-59.4
                   C152,207.3,149.6,199.5,147.6,194.3z M33,356.5c-41.7,0-75.5-33.8-75.5-75.5s33.8-75.5,75.5-75.5c41.7,0,75.5,33.8,75.5,75.5
                   S74.7,356.5,33,356.5z M111.5,220.2c-9.7,0-17.6-7.9-17.6-17.6s7.9-17.6,17.6-17.6s17.6,7.9,17.6,17.6
                   C129.1,212.3,121.2,220.2,111.5,220.2z" />
                    <path
                        d="M33,25c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S174.4,25,33,25z M179.1,341.6
                   c-0.7,15.6-3.2,26.3-6.8,35.7c-7.6,19.7-23.2,35.4-43,43c-9.3,3.6-20,6.1-35.7,6.8C77.9,427.8,72.9,428,33,428
                   c-39.9,0-44.9-0.2-60.6-0.9c-15.6-0.7-26.3-3.2-35.7-6.8c-9.8-3.7-18.7-9.5-26-17c-7.5-7.3-13.3-16.2-17-26
                   c-3.6-9.3-6.1-20-6.8-35.7c-0.7-15.7-0.9-20.7-0.9-60.6s0.2-44.9,0.9-60.6c0.7-15.6,3.2-26.3,6.8-35.7c3.7-9.8,9.5-18.7,17-26
                   c7.3-7.5,16.2-13.3,26-17c9.4-3.6,20-6.1,35.7-6.8c15.7-0.7,20.7-0.9,60.6-0.9s44.9,0.2,60.6,0.9c15.6,0.7,26.3,3.2,35.7,6.8
                   c9.8,3.7,18.7,9.5,26,17c7.5,7.3,13.3,16.2,17,26c3.6,9.4,6.1,20,6.8,35.7c0.7,15.7,0.9,20.7,0.9,60.6S179.8,325.9,179.1,341.6z" />
                </svg>
            </a>

        </div>
    </footer>
    <script src="./slick/slick.min.js"></script>
</body>

</html>