<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">

    <link rel="shotcut icon" type="img/png" href="Images/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Patrick+Hand|Poppins:200,300,400,500,600,700,800,900|Staatliches&display=swap"
        rel="stylesheet">
    <title>Cyclespan</title>
</head>

<body>
    <nav class="nav">
        <div class="links">
            <a href="./index.html" class="link">Home</a>
            <a href="#" class="link">Login</a>
            <a href="#" class="link">Cycles</a>
            <a href="#" class="link">Stations</a>
            <a href="#" class="link">Help</a>
        </div>
    </nav>
    <div class="form__container">
        <div class="design">
            <div class="back">
                <div class="top"><img src="./images/topZigZag.svg" alt=""></div>
                <div class="bottom">
                    <img src="./images/bottomZigZag.svg" alt="">
                </div>
            </div>

            <h1>Welcome Back!</h1>
            <h3>Don't have an account?</h3>
            <a href="./registration.html" class="create">Create Account</a>

        </div>
        <div class="form">
            <form action="">
                <h1>Login</h1>

                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="Submit">Login</button>

            </form>
        </div>
    </div>
</body>

</html>