<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta charset="utf-8">

    <link rel="shotcut icon" type="img/png" href="Images/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <title>Cyclespan | Profile</title>
</head>

<body>

    <div class="profileForm">
        <div class="header">
            Let's set your profile
        </div>
        <div class="form">
            <form action="">
                <div class="form__field">
                    <h3>Personal Info</h3>
                    <div class="row">
                        <div class="col">
                            <label for="dob" class="dobLabel">Dob: </label> <input type="date" id="dob" required>
                        </div>
                        <div class="col">
                            <input type="number" placeholder="Phone Number" required>
                        </div>
                    </div>
                </div>
                <div class="form__field">
                    <span>Sex: </span>
                    <div class="radioBtns">
                        <div class="radio">
                            <input type="radio" name="gender" id="male"><label for="male">Male</label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="gender" id="female">
                            <label for="female">Female</label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="gender" id="other">
                            <label for="other">Other</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form__field">
                    <h3>Address:</h3>
                    <input type="text" placeholder="Locality"> <br>
                    <input type="number" placeholder="PIN">
                    <div class="row">
                        <div class="col"> <input type="text" placeholder="State">
                        </div>
                        <div class="col"><input type="text" placeholder="Country"></div>
                    </div>
                </div>
                <div class="form__field">
                    <h3>Social Links</h3>
                    <div class="social__links">
                        <div class="social">
                            <div class="icon">
                                <img src="./images/003-instagram.svg" alt="">
                            </div>
                            <input type="text" placeholder="Instagram">
                        </div>
                        <div class="social">
                            <div class="icon"><img src="./images/002-facebook.svg" alt=""></div>
                            <input type="text" placeholder="Facebook">
                        </div>
                        <div class="social">
                            <div class="icon"><img src="./images/001-youtube.svg" alt=""></div>
                            <input type="text" placeholder="Youtube">
                        </div>
                    </div>
                </div>
                <div class="form__field">
                    <h3>Document</h3>
                    <p>Enter the number of any one ID.</p>
                    <div class="docs">
                        <input type="number" placeholder="Aadhar">
                        <input type="number" placeholder="PAN">
                    </div>
                </div>

                <button class="btn" type="submit"><span>Submit</span></button>
            </form>
        </div>
    </div>

</body>

</html>