.heading__shadowed {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 500;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Patrick Hand', cursive;
    position: relative;

    &::before {
        content: 'CYCLESPAN';
        position: absolute;
        top: 5%;
        color: rgb(224, 224, 224);
        transform: translateX(-50%) rotate(180deg);
        left: 50%;
        letter-spacing: 5px;
        font-size: 9rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        z-index: -1;
        filter: blur(.8px);
    }

}

.background__pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        position: absolute;
        width: 6rem;
    }

    .circle {
        top: 22%;
        left: 2rem;
        width: 8rem;
    }

    .helmet {
        top: 24%;
        right: 10rem;
        width: 18rem;
    }

    .glass {
        top: 28%;
        left: 10rem;
        width: 18rem;
    }

    .save {
        top: 44%;
        right: 12rem;
        width: 23rem;
    }

    .sayno {
        top: 45%;
        left: 11rem;
        width: 25rem;
    }

    .zigzag {
        width: 100%;
        top: 62%;
    }
}